.vscode
.idea
*.log
.DS_Store
public
dll
test-reports
coverage
jestTestLogs.tap
config/config-development.json
test-output
storybook-static
build-harness-extensions/
build-harness/
.build-harness-bootstrap

# override build harness vendoring
!vbh/.build-harness-bootstrap
!vbh/build-harness
!vbh/build-harness-extensions
test-report.xml
